.login, .landingpage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	background-color: #272838;
	color: white;
}

h1 {
	font-family: "Mulish", sans-serif;
	font-weight: bolder;
	font-size: 7em;
}

h3 {
	font-family: "Mulish", sans-serif;
	color: #2374AB;
	font-weight: bolder;
}

h2 {
	font-family: "Mulish", sans-serif;
	font-weight: bolder;
}

body {
	background-color: #272838;
	color: white;
	font-weight: bolder;
}

#rememberme {
	margin-right: 2%;
}

.busbook {
	max-width: 500px;
  	margin: auto;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.5%;
}

header {
	background-color: #222222;
}

.column {
  float: left;
  width: 32.3%;
}

/* Clear floats after the columns */
.row:after, .white:after {
  content: "";
  display: table;
  clear: both;
}

.white {
	background-color: white;
	color: black;
}